html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  color: #003B6B;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}