@import './variables.module.scss';

//breakpoints:
//mobile < 768px
//table < 992px

.header {
  padding: 10px 10%;
  background-color: $color-blue;
  border-bottom: 5px solid $color-secondary;
}
.container__header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 8px;
  text-align: center;
}

.logo__img {
  width: 120px;
}
/*
.nav__links {
  list-style: none;
  display: inline-block;
}

.nav__links li {
  display: inline-block;
  padding: 0px 30px;
  color: $color-white;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.nav__links li:hover {
  color: $color-grey;
}
*/

.nav__links {
    list-style: none;
    display: inline-block;
    li {
      display: inline-block;
      padding: 0px 30px;
      color: $color-white;
      font-size: 18px;
      transition: all 0.3s ease 0s;
      &:hover {
        color: $color-grey;
      }
    }
  }


  .cta button {
  padding: 15px 30px;
  background-color: $color-primary;
  color: $color-white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: $color-secondary;
    color: $color-blue;
  }
}

.articles {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  &__big {
    img {
      width: 100%;
    }
  }
  &__small {
    img {
      width: 100%;
    }
  }
  
}


 

.buttons {
  display: flex;
  padding: 30px;
  flex-direction: column;

  &__link {
    text-align: center;
    margin-bottom: 16px;
    padding: 32px 16px;
    background-color: $color-blue;
    color: $color-white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: $color-secondary;
      color: $color-blue;
    }
  }
}

.news {

  &__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  h2 {
    color: $color-blue;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }
  img {
    width: 100%;
  }
}

.sponsors {
  margin-bottom: 20px;
  h2 {
    color: $color-blue;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  img {
    width: 40%;
    
  }
}

.footer {
  background-color: $color-blue;
  padding: 30px 0px;
  text-align: center;
  border-top: 5px solid $color-secondary;
  &__items {
    display: flex;
    flex-direction: column;
  }
  h4 {
    color: $color-white;
    font-size: 14px;
    font-weight: 300;
  }
  img, ul, h4 {
    padding: 10px 0px;
  }
  .nav_links_footer li {
    //display: inline-block;
    padding: 8px 20px;
    color: $color-white;
    font-size: 18px;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $color-grey;
    }
  }
  
}


@media(min-width: 768px) {
  .buttons {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
}

@media(min-width: 992px) {

  .container {
    text-align: left;
  }
  
  .articles {
    margin-top: 50px;
    height: 600px;
    display: flex;
    flex-direction: unset;
    gap: 4px;
    &__big {
      img {
        height: 600px;
        width: 780px;
      }
    }
    &__small {
      img {
        height: 298px;
        width: 480px;
      }
    }
    
  }


  /*.articles {
    margin-top: 80px;
    
    &__items {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .articles__big {
    width: 70%;
  }
  .articles__small {
    flex-direction: column;
    width: 30%;
  }*/

  


  .news {
    &__items {
      flex-direction: row;
    }
  }

  .nav_links_footer li {
    display: inline-block;
  }
  
  .sponsors {
    &__items {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
      img {
        width: 180px;
      }
    }
    
  }

}