@import './variables.module.scss';

//breakpoints:
//mobile < 768px
//table < 992px

$gap: 16px;

.header {
  padding: 10px 10%;
  background-color: $color-blue;
  border-bottom: 5px solid $color-secondary;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 16px;
  text-align: center;
}

.logo__img {
  width: 120px;
}

/*
.nav__links {
  list-style: none;
  display: inline-block;
}

.nav__links li {
  display: inline-block;
  padding: 0px 30px;
  color: $color-white;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.nav__links li:hover {
  color: $color-grey;
}
*/
  .nav__links {
    display: none;
  }

  .cta {
    display: none;
  }

  .hamburger {
    cursor: pointer;
  }

  .burger__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $color-secondary;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav__links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: dimgray;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav__links li {
    margin: 16px 0;
  }

  .nav-links.active {
    left: 0;
  }

.articles {
  margin-top: 16px;
  display: flex;
  flex-direction: column;

  &__article {
    background-image: var(--url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    margin-bottom: $gap;

    &--small {
      flex: 1;
    }

    &--big {
      flex-basis: 100%;
    }
  }
}


.buttons {
  display: flex;
  padding: 30px;
  flex-direction: column;

  &__link {
    text-align: center;
    margin-bottom: 16px;
    padding: 32px 16px;
    background-color: $color-blue;
    color: $color-white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: $color-secondary;
      color: $color-blue;
    }
  }
}

.news {

  &__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  h2 {
    color: $color-blue;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }

  img {
    width: 100%;
  }
}

.sponsors {
  margin-bottom: 20px;

  h2 {
    color: $color-blue;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  img {
    width: 40%;

  }
}

.footer {
  background-color: $color-blue;
  padding: 30px 0px;
  text-align: center;
  border-top: 5px solid $color-secondary;

  &__items {
    display: flex;
    flex-direction: column;
  }

  h4 {
    color: $color-white;
    font-size: 14px;
    font-weight: 300;
  }

  img, ul, h4 {
    padding: 10px 0px;
  }

  .nav_links_footer li {
    //display: inline-block;
    padding: 8px 20px;
    color: $color-white;
    font-size: 18px;
    transition: all 0.3s ease 0s;

    &:hover {
      color: $color-grey;
    }
  }

}


@media(min-width: 768px) {
  .buttons {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  .articles {
    margin-top: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__article {
      margin-bottom: 0;

      &--big {
        flex-basis: 100%;
        width: calc(70% - #{$gap/2});
      }

      &--small {
        flex: 1;
        margin-left: $gap;
        width: calc(30% - #{$gap/2});

        &:last-of-type {
          margin-top: $gap;
        }
      }
    }
  }
}

@media(min-width: 992px) {

  .container {
    text-align: left;
  }

  .hamburger {
    display: none;
  }

  .nav__links {
    position: static;
    list-style: none;
    display: inline-block;
    background-color: transparent;
  }
  
  .nav__links li {
    display: inline-block;
    padding: 0px 30px;
    color: $color-white;
    font-size: 18px;
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li:hover {
    color: $color-grey;
  }

  .cta {
    display: block;
  }

  .cta button {
  padding: 15px 30px;
  background-color: $color-primary;
  color: $color-white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $color-secondary;
    color: $color-blue;
  }
}

  .news {
    &__items {
      flex-direction: row;
    }
  }

  .nav_links_footer li {
    display: inline-block;
  }

  .sponsors {
    &__items {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;

      img {
        width: 180px;
      }
    }

  }

}